.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
}

.left-panel {
  width: 30%;
  background-color: #4f46e5;
}

.right-panel {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.highlight {
  color: #4f46e5;
}

.bold {
  font-weight: bold;
}

.grayed-text {
  color: #5f6368;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%; /* fill parent */
  max-width: 100%;
  cursor: pointer;
  text-align: center;
}


.google-icon {
  margin-right: 5px;
}

.legal {
  font-size: 15px;
  color: #9ca3af;
}

.footer {
  background-color: #4f46e5;  
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.continue-guest {
  margin-top: 1rem;
  text-align: center;
  color: gray;
  font-size: 0.9rem;
  cursor: pointer;
}

.continue-guest:hover {
  text-decoration: underline;
}
