.green-title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-right: 20px;
  color: #24C849;
  line-height: 1;
  letter-spacing: 0;
}

.markov-description {
  margin-top: -2px;
} 

.purple-text {
  color: #4C49ED;
}

.green-text {
  color: #24C849;
  margin-top: -2px;
}

.collapsible-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

