/* Add to your CSS */
.droppable-area {
  min-height: 200px;
  background: #D7E2FF;
  border-radius: 4px;
  padding: 10px;
  transition: background-color 0.2s;
}

.droppable-area[data-active] {
  background-color: #ebf5ff;
  border: 1px dashed #1a73e8;
}

.purple-title {
  color: #4C49ED;
  background-color: white;
  border-radius: 3px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}